<launch>

  <!-- Which plugins to load -->
  <arg name="plugins" default="ros-tf" />
  <arg name="args" default="" />


  <!-- Name and namespace definition -->
  <arg name="name" default="rosfawkes" />

  <node pkg="rosfawkes" type="rosfawkes" name="$(arg name)" args="$(arg args)" output="screen">
   <param name="plugins" value="$(arg plugins)" />
  </node>

</launch>
